head
  title="Camper News"
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='/css/main.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
  script(src="/js/main.js")