mixin newsarticle
  article.item
    img.item-img(src="http://lorempixel.com/200/200/")
    a.item-link(href="#")
      h2.item-title 20 ways to do camper news
    p.post-date Posted on Sat, Feb 06 2016
    p.author by Fred Hawk
    .upvote
      img.upvote-icon(src="http://lorempixel.com/20/20/")
      p.upvotes 5

.wrapper
  h1.page-title Camper News
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle