mixin newsarticle
  article.item
    img.item-img(src="http://lorempixel.com/200/200/")
    h1.item-title 20 ways to do camper news
    p.post-date Posted on Sat, Feb 06 2016
    a.item-link(href="#")
    p.author by Fred Hawk
    img.upvote-icon(src="http://lorempixel.com/20/20/")
    p.upvotes 5

.wrapper
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle