mixin newsarticle
  article.item
    a.item-link(href="#", target="_blank")
      img.item-img(src="http://lorempixel.com/200/200/")
      h2.item-title 20 ways to do camper news
    p.post-date Posted on Sat, Feb 06 2016
    a.author-link(href="#", target="_blank")
      p.author by Fred Hawk
    .upvote
      img.upvote-icon(src="http://lorempixel.com/20/20/")
      p.upvotes 5

h1.page-title Camper News
.wrapper
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle
  +newsarticle