.page-title {
  text-align: center;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.item {
  width: 270px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 15px 15px 9px 9px;
  box-shadow: 4px 4px 5px grey;
  margin: 10px 10px;
}

.item-img {
  border-radius: 15px 15px 0 0;
  width: 270px;
}

.item-title {
  color: $lightblue;
  padding-left: 10px;
  margin:5px 0;
}

.item-link {
  text-decoration: none;
}

.post-date {
  color: $blue;
  padding-left: 10px;
  margin:5px 0;
}
.author {
  color: $orange;
  padding-left: 10px;
  margin:5px 0;
}
.upvote {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;

}
.upvote-icon {
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

.upvotes {
  color: $pink;
  margin: 0;
}